
  <header>
  <div class="navbar">
          <div class="box1">
            <img class= "logo-nav" src="../rebels.png" alt="monlogo" title="logo"style="width:70%; height:90%;"> </div>
          <div class="box2">
            <a class="nav_button" href="https://github.com/LUTlp/MonProfile/tree/master/app/views/home" target=_blank>view Home</a></div>
          <div class="box3">
            <a class="nav_button" href="https://github.com/LUTlp/MonProfile/tree/master/app/assets/stylesheets" target=_blank>Stylesheets</a></div>
          <div class="box4">
            <a class="nav_button" href="https://github.com/LUTlp/MonProfile" target=_blank>Github</a></div>
          <div class="box5">
            <img class= "avatar" src="https://media.giphy.com/media/LHZyixOnHwDDy/giphy.gif" alt="monavatar" title="Bonjour c'est moi, Cococinelle !!!"style="width:70%; height:90%;"></div>
    </div>
  </header>


  <div class="content">

      <h1></h1>

      <div>


          <img src="" alt="">
         <p></p>
      </div>

  </div>


  <footer>
          <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook-f"></i> Facebook
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin-in"></i> Linkedin
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter"></i> Twitter
          </a>
        </li>
      </ul>
  </footer>
