
  <header>

      <ul class="navbar">
          <li class="box1">logo</li>
          <li class="box2"><a href="#">Mon site</a></li>
          <li class="box3"><a href="#">Mon site</a></li>
          <li class="box4"> <a class="nav_button" href="#">button</a></li>
          <li class="box5"><img class= "avatar" src="https://media.giphy.com/media/LHZyixOnHwDDy/giphy.gif" alt="monavatar" title="Bonjour c'est moi, Cococinelle !!!"style="width:70%; height:90%;"></li>

      </ul>
  </header>


  <div class="content">

      <h1></h1>

      <div>


          <img src="" alt="">
         <p></p>
      </div>

  </div>


  <footer>
          <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook-f"></i> Facebook
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin-in"></i> Linkedin
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter"></i> Twitter
          </a>
        </li>
      </ul>
  </footer>
