
  <div class="wrapper" >
    <div class="grid-container">
        <div class="first-container">
            <div class="banner">
              <h1> Il était une fois, dans une galaxie lointaine...</h1>
            </div>
          </div>


        <div class="card1">
              <div class="card">
                  <img src="images/earth-1365995_640.jpg" alt="earth" style="width:100%">
                  <div class="card_container">
                      <h4><b>La planète Terre</b></h4>
                      <p>Selon les mythes antiques, elle aurait existé il y a 500 millions d'années</p>
                  </div>
                  <div class="card_discovery">
                      <p>savoir +</p>
                  </div>
              </div>
          </div>

        <div class="card2">
              <div class="card">
                  <img src="images/saturne.jpg" alt="saturne" style="width:100%">
                  <div class="card_container">
                      <h4><b>La planète Saturne</b></h4>
                      <p>La planète qui a vu naître nos ancêtres. Aujourd'hui, nous sommes incapables de la situer. Selon les derniers calculs des Aaaaths, elle se trouverait à 40 000 millions d'années-lumières de la grande Dérive.</p>
                  </div>
                  <div class="card_discovery">
                      <p>savoir +</p>
                  </div>
              </div>
          </div>



        <div class="kylo_life">
          <div>
               <p>Je me baladais sur l'avenue, le coeur ouvert à l'inconnue,...</p>
          </div>
      </div>
        <div class="kylo_cube">
          <div class="perspective">

            <label class="tab" for="tab-top">Aïeux</label>
            <label class="tab" for="tab-front">Amis</label>
            <label class="tab" for="tab-bottom">Crush</label>
            <input type="radio" name="tabs" id="tab-top">
            <input type="radio" name="tabs" id="tab-front">
            <input type="radio" name="tabs" id="tab-bottom">

            <div class="cube">
              <div class="tab-content">
                <h1>Pépé</h1>
                <img src="images/vador.jpeg" alt="dv" style="height:50%">
              </div>
              <div class="tab-content">
                <h1>Potos</h1>
                <p>page under (de)construction</p>
              </div>
              <div class="tab-content">
                <h1>My BFF (really!)</h1>
                <p>THIS IS SWEET</p>
                <img src="images/porg.jpeg" alt="porgy" style="height:50%">
              </div>
            </div>
          </div>
      </div>
    </div>
