
  <div class="wrapper" >

    <div class="content">
          <h1> Bonne nuit les petits</h1>
          <p>
              <div class="card">
                  <img src="images/earth-1365995_640.jpg" alt="earth" style="width:100%">
                  <div class="card_container">
                      <h4><b>La planète Terre</b></h4>
                      <p>Selon les mythes antiques, elle aurait existé il y a 500 millions d'années</p>
                  </div>
                  <div class="card_discovery">
                      <p>savoir +</p>

                  </div>
              </div>
          </p>

          <div>
               <p>Je me baladais sur l'avenue, le coeur ouvert à l'inconnue,...</p>
          </div>

    </div>
