<footer>
        <ul>
      <li>
        <a href="#">
          <i class="fab fa-facebook-f"></i> Facebook
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-linkedin-in"></i> Linkedin
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/laetitia_de_lotaemi/?hl=fr">
          <i class="fab fa-instagram"></i> Instagram
        </a>
      </li>
    </ul>
</footer>
</div>
