<header>
<div class="navbar">
        <div class="box1">
          <img class= "logo-nav" src="images/rebels.png" alt="monlogo" title="logo" style="width:70%; height:90%;"> </div>
        <div class="box2">
          <a class="nav_button" href="https://github.com/LUTlp/MonProfile/tree/master/app/views/home" target=_blank style="background-color: #f66d52">view Home</a></div>
        <div class="box3">
          <a class="nav_button" href="https://github.com/LUTlp/MonProfile/tree/master/app/assets/stylesheets" target=_blank style="background-color: #f66d52" >Stylesheets</a></div>
        <div class="box4">
          <a class="nav_button" href="https://github.com/LUTlp/MonProfile" target=_blank style="background-color: #f66d52">Github</a></div>
        <div class="box5">
          <img class= "avatar" src="https://media.giphy.com/media/ZPz7HoRDRZD2w/source.gif" alt="monavatar" title="Bonjour c'est moi, Cococinelle !!!"style="width:70%; height:90%;"></div>
  </div>
</header>
